---
const {icons = [], title = ""} = Astro.props;
---



<div class="Tech-stack">

    <h3 class="Tech-stack-title">{title}</h3>

    <div class="Tech-stack-icons container">
        {
            icons.map(({name, image}) => {

                return <img src={image.src} alt={`Logo ${name}`}/>
            })
        }
    </div>

</div>

<style>
    .Tech-stack {
        padding-block: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        --tech-icon-height: 50px;
        --tech-icon-gap: 100px;

        .Tech-stack-title {
            font-size: clamp(25px, 5vw, 40px);
            letter-spacing: 5px;
            font-family: var(--title-font);
            font-weight: bold;
        }

        .Tech-stack-icons {
            padding-inline: 20px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 50px var(--tech-icon-gap);
            
            img {
                object-fit: scale-down;
                height: var(--tech-icon-height, 80px);
            }
        }
    }
</style>