---
import Layout from "../layouts/Layout.astro";

import video from "@assets/videos/banner-home/banner-home.webm";
import poster from "@assets/videos/banner-home/banner-home.webp";
import Banner from "@components/Banner.astro";
import LANGUAGES from "@/i18n/index.js";
import Expirience from "@/components/home/Expirience.astro";
import Testimonials from "@/components/home/Testimonials.astro";
import AboutMe from "@/components/home/AboutMe.astro";
import Contact from "@/components/home/Contact.astro";
import AboutService from "@/components/home/AboutService.astro";
import { NAME } from "@/config";


const LANG = LANGUAGES.get(Astro.currentLocale)?.banner_home;

---

<Layout title={NAME}>
	
    <Banner background={{video, poster}}>

        <h1 class="banner-title">{LANG.title}</h1>
        
        <h2 class="banner-subtitle" set:html={LANG.subtitle}></h2>

        <!-- <h3 class="banner-heading">{LANG.heading}</h3> -->

    </Banner>

    <AboutMe />
    
    <Expirience />

    <Testimonials />

    <AboutService />

    <Contact />

</Layout>

<style>

    :global(.Banner-content) {

        gap: 30px;
        
    }
    :global(custom-video video) {

        gap: 30px;
        filter: blur(5px);
    }
    .banner-title {
        color: #001a97;
        color: #666683;
        font-weight: bolder;
        font-size: 80px;
        text-align: center;
        text-shadow: 0px 8px 5px #00000020;
        letter-spacing: 5px;
        line-height: 1.5;

        
    }
    .banner-subtitle {
        color: #05aacf;
        color: #3f51b5;
        font-weight: bold;
        text-align: center;
        font-size: 45px;
        text-shadow: 0px 8px 5px #00000020;
        letter-spacing: 5px;
        text-wrap: balance;

        & :global(div) {
            color: #fb6535;
            color: #3f51b5;
        }
    }
    .banner-heading {
        margin-top: auto;
        font-weight: 600;
        text-align: center;
        font-size: 30px;
        color: #fff;
        text-shadow: 0px 0px 5px #000;
        letter-spacing: 2px;
    }

    :global(.Contact) {
        margin-block: 200px 0px;
    }
</style>