---
import Layout from "../layouts/Layout.astro";

import video from "@assets/videos/banner-home/banner-home.webm";
import poster from "@assets/videos/banner-home/banner-home.webp";
import Banner from "@components/Banner.astro";
import LANGUAGES from "@/i18n/index.js";
import Expirience from "@/components/home/Expirience.astro";
import Testimonials from "@/components/home/Testimonials.astro";
import AboutMe from "@/components/home/AboutMe.astro";
import Contact from "@/components/home/Contact.astro";
import Mark from "@/components/Mark.astro";
import AboutService from "@/components/home/AboutService.astro";


const LANG = LANGUAGES.get(Astro.currentLocale)?.banner_home;

---

<Layout title={import.meta.env.PUBLIC_NAME}>
	
    <Banner background={{video, poster}}>

        <h1 class="banner-title">{LANG.title}</h1>
        
        <h2 class="banner-subtitle">{LANG.subtitle}</h2>

        <h3 class="banner-heading">{LANG.heading}</h3>

    </Banner>

    <AboutMe />
    
    <Expirience />

    <Testimonials />

    <AboutService />

    <Contact />

</Layout>

<style>

    :global(.Banner-content) {

        gap: 30px;
        
        backdrop-filter: blur(2px) hue-rotate(338deg) saturate(1.5);
    }
    .banner-title {
        font-weight: bolder;
        font-size: 80px;
        text-align: center;
        text-shadow: 0px 8px 5px #00000050;
        letter-spacing: 5px;
        line-height: 1.5;
    }

    .banner-subtitle {
        font-weight: bold;
        text-align: center;
        font-size: 45px;
        text-shadow: 0px 8px 5px #00000050;
        letter-spacing: 5px;
    }

    .banner-heading {
        margin-top: auto;
        font-weight: 600;
        text-align: center;
        font-size: 30px;
        color: #fff;
        text-shadow: 0px 0px 5px #000;
        letter-spacing: 2px;
    }
</style>