---
import Layout from "@layouts/Layout.astro";
import video from "@assets/videos/banner-preguntas/banner-preguntas.webm";
import poster from "@assets/videos/banner-preguntas/banner-preguntas.webp";
import Banner from "@components/Banner.astro";
import QuestionAndAnwsers from "@/components/preguntas-frecuentes/QuestionAndAnwsers.astro";

import LANGUAGES from "@/i18n/index.js";
import Contact from "@/components/home/Contact.astro";

const locale = Astro.currentLocale;
const LANG = LANGUAGES.get(locale)?.preguntas_frecuentes.banner;
---

<Layout title="Preguntas frecuentes">

    <Banner background={{video, poster, height: 650}} >

        <h1 class="banner-title">{LANG.title}</h1>
        
        <h2 class="banner-subtitle">{LANG.subtitle}</h2>

    </Banner>

    <QuestionAndAnwsers />


    <Contact />

</Layout>

<style>

    :global(.Video-background video) {
        object-position: center;
    }
    .banner-title {
        font-weight: bolder;
        font-size: 80px;
        text-align: center;
        text-shadow: 0px 8px 5px #00000050;
        letter-spacing: 5px;
        line-height: 2;
        color: #fff;
    }

    .banner-subtitle {
        font-weight: bold;
        text-align: center;
        font-size: 45px;
        text-shadow: 0px 8px 5px #00000050;
        letter-spacing: 5px;
        line-height: 1.5;
        color: #008979;
    }

</style>