---
import VideoBackground from "./VideoBackground.astro";

const {className = '', background = {}} = Astro.props;
---

<section class={`Banner ${className}`}>

    <VideoBackground {...background}>

        <slot name="video-sources" slot="video-sources" />

        <div class="Banner-background">
            
            <div class="Banner-content">
    
                <slot />
    
            </div>
        </div>

    </VideoBackground>

</section>


<style>

    .Banner {
        position: relative;
        z-index: 10;
        box-shadow: 0 5px 10px 0px #00000042;

        .Banner-background {
            width: 100%;
            height: 100%;
        }

        .Banner-content {
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: var(--banner-content-padding, 50px);
        }
    }
</style>