---
import VideoBackground from "./VideoBackground.astro";

const {className = '', background = {}} = Astro.props;
---

<section class={`Banner ${className}`}>

    <VideoBackground {...background}>

        <div class="Banner-content">

            <slot />

        </div>

    </VideoBackground>

</section>


<style>

    .Banner {
        position: relative;
        z-index: 10;
        box-shadow: 0 5px 10px 0px #00000042;

        .Banner-content {
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: var(--banner-content-padding, 50px);
            backdrop-filter: blur(0px);
        }
    }
</style>