---
import { REDES } from "@/config/index.js"

// show: https://developer.calendly.com/how-to-display-the-scheduling-page-for-users-of-your-app

const {
    backgroundColor = '#ffffff', 
    color = '#000000', 
    primaryColor = '#0069ff',
    width = '100%',
    height = '700px',
    hideCookies = true,
    hideEventDetails = true
} = Astro.props;

const url = new URL(REDES.calendly);

url.searchParams.set('background_color', backgroundColor.replace('#' ,''));
url.searchParams.set('text_color', color.replace('#' ,''));
url.searchParams.set('primary_color', primaryColor.replace('#' ,''));
url.searchParams.set('embed_type', 'Inline');
url.searchParams.set('embed_domain', import.meta.url);

if(hideCookies) url.searchParams.set('hide_gdpr_banner', '1');
if(hideEventDetails) url.searchParams.set('hide_event_type_details', '1');

---

<div class="Calendly-embed">

    <custom-calendly data-url={url.href}/>

</div>

<script>
    class CustomCalendly extends HTMLElement {

        constructor(){
            super();

            this.url = this.getAttribute('data-url');

            const observer = new IntersectionObserver((e) => {

                const [entry] = e;
                
                if(entry.isIntersecting){
                    
                    const iframe = document.createElement('iframe');
        
                    iframe.src = this.url;
        
                    iframe.addEventListener('load', (e) => {
        
                        console.log('load iframe')
                    });
        
                    this.appendChild(iframe);

                    observer.disconnect();
                }


            }, {root: null, rootMargin: '0px', threshold: 0});

            observer.observe(this);
        }
    }

    customElements.define('custom-calendly', CustomCalendly);
</script>



<style
    define:vars={{
        'calendly-width': width,
        'calendly-height': height,
    }}
>
    .Calendly-embed {
        width: var(--calendly-width);
        height: var(--calendly-height);
    }

    .Calendly-embed :global(iframe) {
        display: block;
        width: 100%;
        height: 100%;
    }

</style>