---

const LINKS = [
	{
		name: 'Inicio',
		url: '/'
	},
	{
		name: 'Servicios',
		url: '/servicios'
	},
	{
		name: 'Preguntas frecuentes',
		url: '/preguntas-frecuentes'
	},
]
---

<nav class="Navigation navbar navbar-expand-lg">
  	<div class="container">

		<a class="navbar-brand" href="/">
			<slot name="logo" />
		</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="Navigation-content collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				{
					LINKS.map(({name, url}) => {

						return <li class="nav-item">
							<a class="nav-link" href={url}>{name}</a>
						</li>
					})
				}
				
			</ul>
		</div>
	</div>
</nav>

<style>
	:global(:root) {

		--navigation-border-top-color: #0096fc;
	}
	:global([data-theme="dark"]) {

		--navigation-bg: #fff;
		--navigation-shadow-color: #00000072;
	}
	:global([data-theme="light"]) {

		--navigation-bg: #fff;
		--navigation-shadow-color: #00000072;
	}

	.Navigation {
		position: relative;
		z-index: 5000;
		border-top: 3px solid var(--navigation-border-top-color);
		background-color: var(--navigation-bg);
		box-shadow: 0px 0px 10px 0px var(--navigation-shadow-color);

		position: sticky;
		top: 0;

		padding-block: 10px;

		.Navigation-content {
			justify-content: end;

			ul {
				gap: 30px;
				color: #777;

				a {
					padding-inline: 10px;
					font-size: 20px;
					font-family: var(--text-font);
					letter-spacing: 2px;
				}
				a:hover {
					color: #0096fc;
				}

				@media (min-width: 992px) {

					a {
						position: relative;
					}
					a:hover::after {
						content: "";
						position: absolute;
						animation: anchor-line-grow 0.5s;
						animation-fill-mode: forwards;
						left: 0;
						right: 0;
						margin-inline: auto;
						bottom: 0;
						border: 1px solid #0096fc;
					}
				}

				@media (max-width: 991.98px) { 

					padding-top: 30px;

					a {
						font-size: 20px;
						font-family: var(--text-font);
						letter-spacing: 2px;
					}
					a:hover {
						color: #fff;
						background-color: #0096fc;
						border-radius: 5px;
					}
				}
			}

		}
	}

	@keyframes anchor-line-grow {
		from {
			width: 0%;
		}
		to {
			width: 100%;
		}
	}
</style>
