---
import "bootstrap/dist/css/bootstrap.min.css";
import "bootstrap-icons/font/bootstrap-icons.min.css";
import bootstrap from "bootstrap/dist/js/bootstrap.bundle.js?url";

import Navigation from "@/components/Navigation.astro";
import Logo from "@/assets/logo.astro";
import Fonts from "@assets/fonts/fonts.astro";
import Footer from "@/components/Footer.astro";
import SEOTags from "@/components/SEOTags.astro";
import GoogleAnalitics from "@/components/GoogleAnalitics.astro";

const { title } = Astro.props;
---

<!doctype html>

<html lang="es" data-theme="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<SEOTags />

		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="generator" content={Astro.generator} />

		<Fonts />

		<GoogleAnalitics />

		<title>{title}</title>
	</head>
	<body>
		<Navigation>
			<Logo slot="logo" />
		</Navigation>
		
		<slot />

		<Footer />

		<script is:inline src={bootstrap}></script>
	</body>
</html>

<style is:global>

	* {
		padding: 0;
		margin: 0;
	}
	:root {
		--nav-height: 100px;
		--bs-body-bg: #cacaca;
		--title-font: "Rift-Soft", sans-serif;
		--text-font:  "Montserrat", sans-serif;
	}

	h1, h2, h3, h4 {
		font-family: var(--title-font);
	}

	p, a, button, h5, h6  {
		font-family: var(--title-font);
		font-optical-sizing: auto;
		font-style: normal;
	}
</style>
