---
import "bootstrap/dist/css/bootstrap.min.css";
import "bootstrap-icons/font/bootstrap-icons.min.css";
import bootstrap from "bootstrap/dist/js/bootstrap.bundle.js?url";

import Navigation from "@/components/Navigation.astro";
import Logo from "@/assets/logo.astro";
import Fonts from "@assets/fonts/fonts.astro";
import Footer from "@/components/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>

<html lang="es" data-theme="light">
	<head>
		<meta charset="UTF-8" />

		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />

		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="generator" content={Astro.generator} />

		<Fonts />

		<title>{title}</title>
	</head>
	<body>
		<Navigation>
			<Logo slot="logo" />
		</Navigation>
		
		<slot />

		<Footer />

		<script is:inline src={bootstrap}></script>
	</body>
</html>

<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

	* {
		padding: 0;
		margin: 0;
	}
	:root {
		--nav-height: 85px;
		--bs-body-bg: #aec4dc;
		--titles-font: Rift-Soft;
	}

	h1, h2, h3, h4 {
		font-family: Rift-Soft, Arial, Helvetica, sans-serif;
	}

	p, a, button, h5, h6  {
		font-family: "Montserrat", sans-serif;
		font-optical-sizing: auto;
		font-style: normal;
	}
</style>
